.headersnav {
    background-color: #1F2937;
    font-size: 24px;
    font: robotica;   
}
.nav {
    float:right;
    width: 300px;
    }
.nav a {
    color: #f9faf8;
    text-decoration: none;
}
.nav a:hover {
    background-color: rgba(121, 60, 10, 0.959)
}
.headerpic {
    display: inline-block;
    object-position: 20px;
}


.part1 {
    background-color: #1F2937;
    width: auto;
    height: 500px;
    color:#f9faf8;
    display: block;
}
.hero {
    flex-basis: 10px;
    flex-direction: column;
    text-align: left;
    margin-left: 250px;
    height: 0px;
    width:350px;
    padding-top: 100px;
}
.button {
    background-color: #3882f6;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    color:aliceblue;
    font-weight:bolder;
}

.fan {
    font-size: 48px;
    text-align:justify;
    margin:0;
    font-family: 'roboto',arial;
    }
.page {
    text-align: left;
    font-size: 16px;  
}
.cover {
    align-items: center;
    width: 0%;
    margin-left: auto;
    margin-right: auto;

}


.pic {
    background-color: #f9faf8;
    border:5px solid #3882f6;
    border-radius: 20px;
    margin: 10px;
}
.albums {
    justify-content: center;
    display:flex;
    
    
}
.sub {
    display: block;
    text-align: center;
    flex-direction: row;
}

h1 {text-align: center;}
.part3 {
    background-color: #e5e7eb;
    font-size: 36px;
    font-display: #1f2937;
    gap: 0;
    align-items: center;
    height: 300px;
    width: auto;
}
.quote {
    align-items: center;
    margin: auto;
    height: 850px;
    width: 850px;
    }
strong {text-align: right;}

.sign {
    background-color:rgba(150, 84, 10, 0.973);
    padding: 14px 10px;
    margin: 8px 0;
    border:#fff;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    color:aliceblue;
    font-weight:bolder;
    border-radius: 10px;
    border-style: groove;
}
.signupbox {
    background-color: #3882f6;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: aliceblue;
}
.footer {
    background-color: #1F2937;
    color: #fff;
    text-align: center;
    left: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    
}